<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/topics.css') }}">
        <title>Topics</title>
    </head>

    <header>
        <div class = "header">
            <img src = "{{ url_for('static', filename = 'images/logo.svg') }}">
            <h1>Emerging Technology & Innovation News</h1>
        </div> 
    </header>

    <body>

    </body>

    </html>